body{
    background-color: white;
}

.nav {
    background-color: rgb(172, 172, 172);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav .logo {
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
    margin-left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
}

.home{
    margin-right: 20px;
}

.home li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: #000000;
    margin: 13px;
    padding: auto;
    border-radius: 20px;
box-shadow: #447290;}

.home li:hover{
    background-color: white;
    color: red;
}

.home a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
}

.home a:hover {
    color: #ff0000;
}

